;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================

[settings]
compositing-background = over
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over

[colors]
;background = ${xrdb:color0:#222}
background = #1E293B
background-alt = #334155
;foreground = ${xrdb:color7:#222}
foreground = #ffffff
foreground-alt = #555
red = #EF4444
yellow = #F59E0B
green = #10B981
blue = #3B82F6
indigo = #6366F1
purple = #8B5CF6
cyan = #14B8A6
white = #ffffff
black = #000000
gray = #64748B

primary = #ffb52a
secondary = #e60053
alert = #bd2c40

[bar/shared]
font-0= Monoid Nerd Font:size=9;1
font-1= Noto Color Emoji:scale=10;
font-2= SauceCodePro Nerd Font Mono:side=9
height = 27
width = 100%
module-margin-left = 1
module-margin-right = 1
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size =  2
line-color = #f00
padding-left = 2
padding-right = 2


[bar/default]
inherit = bar/shared
monitor = ${env:MONITOR:}

modules-left = i3 background-blur
modules-center = xwindow
modules-right = volume isrunning-picom pkg time-SF time-BENGA date background Shutdown

[bar/downbar]
inherit = bar/shared
monitor = ${env:MONITOR:}
bottom = true

modules-left = bluetooth-controll keyboard_switch spotify vpncheck  vpn-proton-status
modules-center = 
modules-right = ${env:MODULE_RIGHT:}

tray-detached = false
tray-position = ${env:TRAY_POSITION:}

[module/isrunning-picom]
type = custom/script
exec = ~/scripts/isrunning-picom.sh
format-underline = ${colors.indigo}
interval = 2
click-left = ~/scripts/isrunning-picom.sh --toggle &

[module/background-blur]
type = custom/script
exec = ~/scripts/background_blur.sh
format-underline = ${colors.red}
interval = 2
click-left = ~/scripts/background_blur.sh --toggle &


[module/vpn-proton-status]
type = custom/script
exec = ~/scripts/protonvpn_status.sh
format-prefix = " "
interval = 20
format-underline = ${colors.green}


[module/vpncheck]
type = custom/script
exec = pgrep openvpn
interval = 5
label = vpn
format-underline = ${colors.green}
format-prefix = " "
format-prefix-foreground = ${colors.green}

[module/spotify]
type = custom/script
interval = 1
format-prefix = " "
format = <label>
exec = python ~/scripts/spotify_status.py -f '{play_pause} {artist}: {song}' --font=0 -p ','
format-underline = ${colors.green}

[module/xwindow]
type = internal/xwindow
label = %title%
label-maxlen = 50

[module/pkg]
type = custom/script
interval = 1200
format = <label>
format-underline = ${colors.yellow}
label = "%output:0:30%"
exec = ~/.config/polybar/pkg.sh
exec-if = "ping -q -w 2 -c 1 176.34.135.167 > /dev/null"


[module/bluetooth-controll]
type = custom/script
exec = ~/scripts/bluetooth.sh
tail = true
click-left = ~/scripts/bluetooth.sh --toggle &
format-underline = ${colors.blue}


[module/keyboard_switch]
type = custom/script
exec = ~/scripts/keyboard_switch.sh
interval = 1
click-left = ~/scripts/keyboard_switch.sh --toggle &
format-underline = ${colors.indigo}


[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{colors.indigo}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
pin-workspaces = true
wrapping-scroll = false
strip-wsnumbers = true

label-mode-padding = 0
label-mode-foreground = ${colors.black}
label-mode-background = ${colors.yellow}

; focused = Active workspace on focused monitor
label-focused = %name%
label-focused-background = ${colors.background-alt}
label-focused-underline = ${colors.yellow}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-padding = 1

; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-background = ${colors.background}
label-visible-underline = ${colors.yellow}
label-visible-padding = 1

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

[module/mpd]
type = internal/mpd
format-online = <bar-progress>  <icon-prev> <icon-stop> <toggle> <icon-next>

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 

bar-progress-width = 40
bar-progress-indicator = |
bar-progress-fill = -
bar-progress-empty = -

label-song-maxlen = 40
label-song-ellipsis = true

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = ﯦ

bar-width = 10
bar-indicator = |
bar-indicator-foreground = ${colors.white}
bar-fill = -
bar-fill-foreground = ${colors.purple}
bar-empty = -
bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.red}
label = %percentage%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.cyan}
label = %percentage_used%%

[module/wlan-base]
type = internal/network
interface = ${env:WIFI_CARD:}
interval = 0.1
ping_interval = 10

format-connected = 直 <label-connected>
format-connected-underline = ${colors.purple}
format-disconnected =  Not connected

[module/wlan-soft]
inherit = module/wlan-base
label-connected = %essid% %local_ip%

[module/wlan-full]
inherit = module/wlan-base
label-connected = %essid% %local_ip% %{F#64748B} %upspeed:8%  %downspeed:8%


[section/eth-base]
type = internal/network
interface = enp7s0
interval = 0.1

format-connected-underline = ${colors.purple}
format-disconnected =  Not connected

[module/eth-soft]
inherit = section/eth-base
label-connected =  %local_ip%

[module/eth-full]
inherit = section/eth-base
label-connected =  %local_ip% %{F#64748B} %upspeed:8%  %downspeed:8%


[module/time-SF]
type = custom/script
exec = TZ=America/Los_Angeles date +"SF:  %H:%M  %d-%m"
interval = 5
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.blue}

[module/time-BENGA]
type = custom/script
exec = TZ=Asia/Kolkata date +"IND:  %H:%M  %d-%m"
interval = 5
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.blue}

[module/date]
type = internal/date
interval = 5

date = %d-%m-%Y
date-alt = " %Y-%m-%d"

time = %H:%M
time-alt = %H:%M:%S

format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.blue}

label =  %time%   %date%

[module/volume]
type = internal/pulseaudio

format-volume = <label-volume> <bar-volume>
label-volume = 
label-volume-foreground = ${root.foreground}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted =  M

use-ui-max = false

bar-volume-width = 10
bar-volume-foreground-0 = ${colors.green}
bar-volume-foreground-1 = ${colors.green}
bar-volume-foreground-2 = ${colors.green}
bar-volume-foreground-3 = ${colors.green}
bar-volume-foreground-4 = ${colors.green}
bar-volume-foreground-5 = ${colors.yellow}
bar-volume-foreground-6 = ${colors.red}
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-fill = -
bar-volume-empty = -
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98

; see "man date" for details on how to format the time string
; NOTE: if you want to use syntax tags here you need to use %%{...}
; Default: %H:%M:%S
time-format = %H:%M

; Available tokens:
;   %percentage% (default) - is set to 100 if full-at is reached
;   %percentage_raw%
;   %time%
;   %consumption% (shows current charge rate in watts)
label-charging = ﮣ %percentage%% %time% %consumption% W

; Available tokens:
;   %percentage% (default) - is set to 100 if full-at is reached
;   %percentage_raw%
;   %time%
;   %consumption% (shows current discharge rate in watts)
label-discharging =  %percentage%% %time% %consumption% W


format-charging = <animation-charging> <label-charging>
format-charging-underline = ${colors.yellow}

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-underline = ${self.format-charging-underline}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.foreground}
format-full-underline = ${self.format-charging-underline}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.foreground}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = ${colors.foreground}
animation-charging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format =  <label>
format-underline = ${colors.red}
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

ramp-0 = A
ramp-1 = B
ramp-2 = C
label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.secondary}

[module/Shutdown]
type = custom/script
exec = echo ""
click-left = shutdown now
click-right = reboot
click-middle = xdotool key super+shift+e
format-padding = 0
format-foreground = ${colors.red}
format-underline = ${colors.red}

[module/background]
type = custom/script
exec = echo ""
click-left = ~/scripts/random_wallpaper.sh
click-right = ~/scripts/random_wallpaper.sh
click-middle = ~/scripts/random_wallpaper.sh
format-padding = 0
format-foreground = ${colors.cyan}
format-underline = ${colors.cyan}



[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
